.nav-stacked > li > a {
	height: 20px;
	padding: 1px;
	padding-left: 23px;
}

.nick {
	font-weight: bold;
}

.timestamp {
	color: #7A7A7A;
}

#log {
	float: left; 
	margin-left: 240px; 
	margin-top: 20px; 
	width: auto;
}
